.half-width{
    width: 35%;
    float: left;
    
    }
.half-width img{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.header-area{

    background-image: url(images/header-bg.png);
    background-size: 100%; 
    background-position: top center;
    background-repeat: no-repeat;
    height: 750px;
    
   
}
.header-area h1{
    font-size: 45px;
    font-weight: 700;
    color: #EC4C7A;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

#position-head-img{
    padding-top: 15%;
    padding-right:8%;
    
}
#position-head-text{

    margin-top: 15%;
    margin-left: 50px;
    padding-left: 15%;
    
    
}

#position-head-first-line{
    font-size: 30px;
    font-weight: 350;
    height: 5px;

}
#position-head-para{
    font-size: 15px;
    height: 40px;
    padding-bottom: 90px;
}
.link-button{
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg,  #EC4C7A, tomato );

   
    
    
}

/* biography part */

.half-width-n{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    
}
.half-width-n p{
    text-align: justify;
    padding-right: 75px;
}

.half-width-n img{

width: 100%;

}

.biography-area{

    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    height: 950px;
    
   
}
#text-bibliography-area{

    margin-top: 10%;
}
.biography-area p{
    height: 100px;
    padding-bottom: 30px;
}


/*My project Area*/


.half-width{
    width: 30%;
    float: left;
    
}

.half-width img{

    width: 90%;
    margin-left: 22%;
    
    
    }
.my-latest-work-area{

    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 550px;
    background-position:180deg, right right;
}

    .my-latest-work-area h1{
        text-align: center;
        font-size: 35px;
        padding-bottom: 10px;

    }

    /* Footer Area*/

    .footer-area{
        background-image: url(images/footer-bg.png);
        background-repeat: no-repeat;
        height: 500px;
    }
    .footer-area h1{
        font-size: 45px;
        padding-bottom: 50px;
    }

    .footer-center{
        text-align: center;
    }
  .footer-center p{
      padding-bottom: 50px;
  }
  .footer-center blockquote{
      padding-bottom: 50px;
  }
 
    .contact-info-box{

    margin: auto;
    width: 55%;
    height: 35%;
    background-color:      #EC4C7A;
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
    font-family: sans-serif;
    color: white;
    }

    .contact-info-box p{
        
        align-items: center;
        
    }
    #message{
        font-size: 20px;
    }
    #email{
        font-size: 35px;
        }
        
footer{
    margin-top: 15%;
    text-align: center;
    padding-bottom: 5%;
}